<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="../asset/img/logo/sib.webp" class="img-circle elevation-2 bg-white" alt="User Image">
            </div>
            <div class="info">
                <a href="index.html" class="d-block">Sistem Informasi B</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search"
                    id="searchSidebar">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false"
                id="navbarItem">
                <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="waktu-sholat.html" class="nav-link" id="waktu-sholat-link">
                        <i class="nav-icon fas fa-mosque"></i>
                        <p>
                            Waktu Sholat
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="sib.html" class="nav-link" id="sib-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            SIB
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="vmt.html" class="nav-link" id="vmt-link">
                        <i class="nav-icon fas fa-compass"></i>
                        <p>
                            VMT D4
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../pages/ws.html" class="nav-link" id="ws-polinus-link">
                        <i class="nav-icon fas fa-network-wired"></i>
                        <p>
                            Website & Sosmed
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../pages/dosen.html" class="nav-link" id="dosen-link">
                        <i class="nav-icon fas fa-graduation-cap"></i>
                        <p>
                            Dosen
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>